#navbar{
    display: flex;
    background-color: rgb(175, 243, 132);

    gap: 20px;
    padding: 0px 40px;
    justify-content: flex-end;
}

#container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 800px;
    margin: auto;
    border: 1px solid;

}

#container > div {
    width: 200px;
    height: 400px;
    border: 1px solid;
    margin: auto;
}

#container > div img{
    width: 200px;
}